body {
    background-image: url(../images/triangles.png);
    background-size: 100% cover;
}

#container, footer {
    background: rgba(240, 248, 255, 0.5);
    margin: 2% 5% 1%; /*this is spacing the container too far above the footer, need to adjust*/
    padding: 2% 10%;
}

#targetScorearea {
    background: rgba(255, 172, 71, 0.5);
    margin: 5px 15px;
    padding: 2px 2px;
}

#targetScoretext {
    color: aliceblue;
    font-size: 150%;
    font-weight: bold;
    vertical-align: bottom;
    margin-bottom: 0px;
}

#targetScore {
    text-align: right;
    font-size: 400%;
    padding-right: 20px;
}

#c1 {
    border-color: #ffb042;
    /* border-radius: 1rem; */
}

footer {
    margin: 1% 5% 1%;
    padding: 2% 5%;
}